{% extends 'index.html'%}
{% block title %} Search {% endblock %}
{% block body %}




<h1> You Searched For</h1>
{% for blog in arti %}
<br>
<div class="article">
    <div class="card">
        <div class="card-header">
          By: {{blog.username}} on {{blog.date}}
        </div>
        <div class="card-body">
          <img src={{blogs.image}}>
          <h5 class="card-title">{{blog.title}}</h5>
          <p class="card-text">{{blog.description|truncatewords:100}} </p>
          <a href="{% url 'blogpost' blog.pk %}"  class="btn btn-primary">Read More</a>
        </div>
      </div>
</div><br><br><br>{% endfor %}
{% endblock %}